{% extends 'base.html.twig' %}

{% block title %}Newsletter - Inscription{% endblock %}

{% block body %}
    <div class="min-h-screen bg-gray-100 py-12 px-3 sm:px-6 lg:px-8">
        <div class="max-w-3xl mx-auto mb-3">
            <h2 class="text-2xl font-bold text-gray-900" >
                Inscription à la newsletter
            </h2>
            
            {# Ajout des messages flash #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="mt-2 p-4 rounded-md {{ label == 'success' ? 'bg-green-100 text-green-700' : 'bg-red-100 text-red-700' }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="bg-white py-6">
            {{ form_start(form, {'attr': {'class': 'space-y-4'}}) }}
            <div>
                {{ form_label(form.email, 'Adresse email', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                {{ form_widget(form.email, {'attr': {'class': 'block w-full border border-gray-300 rounded-md py-2 px-3 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500'}}) }}
                {{ form_errors(form.email) }}
            </div>
            <div>
                <button type="submit" class="bg-indigo-600 text-black py-2 px-4 hover:bg-indigo-700 hover:text-white">
                    S'inscrire
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('newsletter') }}
{% endblock %}
